#chat {
  border: 2px solid black;
  flex: 1;
  margin: 5px;
}

#chat-wrap {
  display: flex;

  #chat-content {
    flex: 1;

    #chat-input {
      margin: 10;

      button {
        color: 'red';
      }
    }
  }
}
