.bmsg {
  border: 2px solid blue;
  margin: 10px;
  padding: 10px;
}

.chat-header {
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
  font-size: 18px;

  a {
    font-weight: bold;
    font-size: 16px;
  }
}

.chat-avatar {
  width: 40px;
}

.owner {
  font-weight: bold;
  color: navy;
  text-align: right;
  font-size: 17px;
}

.other-persone {
  font-weight: bold;
  text-align: left;
  font-size: 17px;
}

.chat-msg {
  margin: 30px;

  input {
    border: 2px solid green;
    padding: 4px 40px;
    width: 50%;
  }

  button {
    background-color: green;
    color: white;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
  }
}

.strong {
  font-weight: bold !important;
}

.color-red {
  color: red;
}

.color-green {
  color: green;
}
