#auth-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin-top: -155px;

  input {
    padding: 5px 10px;
    width: 200px;
  }

  select {
    width: 225px;
    padding: 4px;
  }

  button {
    padding: 5px 15px;
    cursor: pointer;
  }
}
