@import './assets/scss/variables';
@import './assets/scss/normalize.min';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@import './components/auth/Auth.scss';

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.App {
  text-align: center;
  display: flex;
  height: 100vh;
  font-size: 1rem;
}

.card-shadow {
  box-shadow: 0px 5px 5px 0px rgba(64, 64, 64, 0.5);
}

.m-0 {
  margin: 0;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.border {
  border: 2px solid black;
}
