#navbar {
  border: 2px solid black;
  margin: 6px;
  display: flex;
  justify-content: space-around;
  padding: 10px;

  .login {
    margin-top: 4px;
    b {
      margin-right: 5px;
      margin-left: 5px;
    }
  }
}
